*.class
*.log
*.jav
*.war
*.ear
/lib/
/.settings/
/project/
/.classpath
/.idea/
*.iml
*.ipr
*.iws
*~.nib
*.swp
*.bak
*.tmp
*.orig
*.rej
/target/
/build/
/.tomcat/
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/target/
/tmp/
.logs/
/bin/
